@media screen and (max-width: 630px) {
  .Box {
    position: relative;
    padding-left: 8%;
  }
}
@media screen and (max-width: 612px) {
  .btn-info {
    position: relative;
    top: 4px;
    left: 15%;
  }
  .Box {
    position: relative;
    padding-bottom: 2%;
  }
  .btn-danger {
    position: relative;
    top: 4px;
    left: 20%;
  }
  .text2 {
    position: relative;
    width: 80%;
    margin-left: 4%;
  }
}
@media screen and (max-width: 576px) {
  .Title {
    position: relative;
    border: none;
    width: 40%;
    top: 2.5px;
  }
}
@media screen and (max-width: 495px) {
  .btn-info {
    position: relative;
    top: 4px;
    left: 10%;
  }
  .btn-danger {
    position: relative;
    top: 4px;
    left: 15%;
  }
}
@media screen and (max-width: 425px) {
  .btn-info {
    position: relative;
    top: 4px;
    left: 6%;
  }
  .btn-danger {
    position: relative;
    top: 4px;
    left: 6%;
  }
}
@media screen and (max-width: 360px) {
  .btn-info {
    position: relative;
    top: 5px;
    left: 25%;
  }
  .btn-danger {
    position: relative;
    top: 47px;
    left: -16%;
  }
  .Box {
    position: relative;
    padding-bottom: 16%;
  }
  .Title {
    position: relative;
    top: 6px;
  }
}
@media screen and (max-width: 320px) {
  .btn-danger {
    position: relative;
    top: 47px;
    left: -19%;
  }
}
@media screen and (max-width: 280px) {
  .btn-danger {
    position: relative;
    top: 47px;
    left: -25%;
  }
  .Box {
    position: relative;
    padding-bottom: 20%;
  }
}
